.calculatedValuesContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 0.75rem;
  color: white;
  z-index: 0;
  font-size: 0.6rem;
  text-align: left;
  /* background-color: rgba(0, 237, 217, 0.703);
  backdrop-filter: blur(5px);

  background: rgba(0, 237, 219, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.9px);
  -webkit-backdrop-filter: blur(13.9px);
  border: 1px solid rgba(0, 237, 219, 0.3); */

  /* background: rgba(95, 188, 211, 0.59);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.9px);
  -webkit-backdrop-filter: blur(13.9px);
  border: 1px solid rgba(95, 188, 211, 0.3); */

  background: rgba(44, 137, 160, 0.705);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.9px);
  -webkit-backdrop-filter: blur(13.9px);
  border: 1px solid rgba(44, 137, 160, 0.3);
}

.sideBarHeadingH2 {
  margin: 0px;
  padding: 0px;
}

.sideBarHeadingH3 {
  margin: 0px;
  padding: 0px;
}

/* .mobileInvisible {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
} */

@media (min-width: 1300px) {
  .mobileInvisible {
    opacity: 1;
    visibility: visible;
    width: auto;
    height: auto;
  }

  .calculatedValuesContainer {
    font-size: 0.9rem;
    right: 20px;
    width: 40%;
    height: 100%;
    padding: 0px;
    padding-top: 140px;
    padding-bottom: 60px;
    background: rgba(44, 137, 160, 0.826);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.9px);
    -webkit-backdrop-filter: blur(13.9px);
  }

  .sideBarHeadingH2 {
    margin-left: 50px;
  }
}

@media (max-width: 1299px) and (min-width: 700px) {
  .mobileInvisible {
    opacity: 1;
    visibility: visible;
    width: auto;
    height: auto;
  }

  .calculatedValuesContainer {
    font-size: calc(10px + 6 * ((100vw - 620px) / 680));
    right: 20px;
    max-width: 40%;
    height: 100%;
    padding: 20px;
    padding-top: 140px;
    padding-bottom: 60px;
    background: rgba(44, 137, 160, 0.783);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.9px);
    -webkit-backdrop-filter: blur(13.9px);
  }

  .sideBarHeadingH2 {
    margin: 0px;
    padding: 0px;
  }
}
/* 
@media (min-width: 900px) {
  .mobileInvisible {
    opacity: 1;
    visibility: visible;
    width: auto;
    height: auto;
  }

  .calculatedValuesContainer {
    font-size: 0.9rem;
    right: 0;
    width: 40%;
    height: 100%;
    padding: 20px;
    padding-top: 60px;
    background: rgb(44, 137, 160);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.9px);
    -webkit-backdrop-filter: blur(13.9px);
  }

  .sideBarHeadingH2 {
    margin: 5px;
    padding: 5px;
  }
} */
