.calculatedValuesContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-bottom: 15px;
  font-size: 0.55rem;
  font-family: "Open Sans", "Montserrat", sans-serif;
  color: black;
  z-index: 5;
  text-align: left;
  background: rgba(228, 221, 215, 0.72);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.9px);
  -webkit-backdrop-filter: blur(13.9px);
  border: 1px solid rgba(44, 137, 160, 0.3);
  transition: transform 0.4s ease-in-out;
  transform: translate(0%, 0%);
}

.sideBarHeading {
  margin: 0px;
  border-bottom: 1px solid black;
  width: 90%;
  text-align: center;
}

.valueContainers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: 5px;
}

.finalNumber {
  font-family: "Open Sans", sans-serif;
  font-size: calc(10px + 6 * ((100vw - 120px) / 680));
  display: inline;
  align-self: flex-end;
  text-align: right;
  text-decoration: solid;
  align-self: center;
  justify-self: center;
  font-weight: bold;
}

.sideBarHeadingH2 {
  font-family: "Open Sans", "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
  padding-right: 10px;
  display: inline;
  width: 70%;
}

.negativeSavings {
  color: red;
}

.positiveSavings {
  color: green;
}

/* .mobileInvisible {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
} */

/* The switch - the box around the slider */
.toggleContainer {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  margin-top: 0px;
}
.switch {
  position: relative;
  display: inline-block;
  padding: 10px;
  width: 40px;
  height: 10px;
}

/* Hide default HTML checkbox */
.switch .localStorageToggle {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.localStorageToggle:checked + .slider {
  background-color: #ff595aff;
}

.localStorageToggle:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

.localStorageToggle:checked + .slider:before {
  -webkit-transform: translateX(2px);
  -ms-transform: translateX(2px);
  transform: translateX(2px);
}

.automaticSavesNotification {
  font-size: 0.9rem;
  margin-top: 4px;
  margin-bottom: 15px;
}

.superscript {
  font-size: 0.7rem;
  color: black;
  padding-left: 1px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hideSidebarComponentContainer {
  position: relative;
  bottom: 20px;
}

.sidebarHidden {
  transition: transform 0.4s ease-in-out;
  transform: translate(0%, 85%);
}
.localStorageToggle:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

@media (min-width: 1300px) {
  .mobileInvisible {
    opacity: 1;
    visibility: visible;
    width: auto;
    height: auto;
  }

  .calculatedValuesContainer {
    font-size: 0.85rem;
    right: 20px;
    width: 40%;
    height: calc(100vh - 90px);
    padding-top: 20px;
    padding-bottom: 5%;
    background: rgba(228, 221, 215, 0.72);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.9px);
    -webkit-backdrop-filter: blur(13.9px);
  }

  .valueContainers {
    padding: 0px;
  }

  .sideBarHeadingH2 {
    padding-right: 10px;
  }

  .toggleContainer {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
    margin-top: 0px;
  }

  .switch {
    position: relative;
    display: inline-block;
    padding: 10px;
    width: 46px;
    height: 25px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .localStorageToggle:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  .finalNumber {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    text-decoration: solid;
  }
  .sidebarHidden {
    transition: transform 0s ease-in-out;
    transform: translate(0%, 0%);
  }
}

@media (max-width: 1299px) and (min-width: 900px) {
  .mobileInvisible {
    opacity: 1;
    visibility: visible;
    width: auto;
    height: auto;
  }

  .calculatedValuesContainer {
    font-size: 0.8rem;
    right: 20px;
    max-width: 40%;
    height: calc(100vh - 115px);
    padding-top: 20px;
    padding-bottom: 5%;
    background: rgba(228, 221, 215, 0.72);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.9px);
    -webkit-backdrop-filter: blur(13.9px);
  }

  .sideBarHeadingH2 {
    margin: 0px;
    width: 65%;
    padding: 0;
    padding-right: 10px;
  }

  .valueContainers {
    padding: 0px;
  }

  .finalNumber {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    text-decoration: solid;
  }

  .toggleContainer {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
    margin-top: 0px;
  }

  .switch {
    position: relative;
    display: inline-block;
    padding: 10px;
    width: 46px;
    height: 25px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .localStorageToggle:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  .hideSidebarComponentContainer {
    display: none;
    position: relative;
    bottom: 15px;
  }

  .sidebarHidden {
    transition: transform 0s ease-in-out;
    transform: translate(0%, 0%);
  }
}

@media (max-width: 899px) and (min-width: 700px) {
  .mobileInvisible {
    opacity: 1;
    visibility: visible;
    width: auto;
    height: auto;
  }

  .calculatedValuesContainer {
    font-size: 0.65rem;
    right: 20px;
    max-width: 43%;
    height: calc(100vh - 115px);
    padding-top: 15px;
    padding-bottom: 5%;
    background: rgba(228, 221, 215, 0.72);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.9px);
    -webkit-backdrop-filter: blur(13.9px);
  }

  .sideBarHeadingH2 {
    margin: 0px;
    width: 65%;
    padding: 0;
    padding-right: 10px;
  }

  .valueContainers {
    padding: 0px;
  }

  .finalNumber {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    text-decoration: solid;
  }

  .toggleContainer {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
    margin-top: 0px;
  }

  .switch {
    position: relative;
    display: inline-block;
    padding: 10px;
    width: 46px;
    height: 25px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .localStorageToggle:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  .hideSidebarComponentContainer {
    display: none;
    position: relative;
    bottom: 15px;
  }

  .sidebarHidden {
    transition: transform 0s ease-in-out;
    transform: translate(0%, 0%);
  }
}
