body {
  margin: 0;
  font-family: "Open Sans", "Montserrat", "Segoe UI", -apple-system,
    BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: "Open Sans", "Montserrat", "Segoe UI", source-code-pro, Menlo,
    Monaco, Consolas, "Courier New", monospace;
}
