.hideSideBarButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* .leftAngle {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;

  border-right: 15px solid #ff595aff;
} */

.bottomAngle {
  background: #ff595aff;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(222, 218, 218);
}

/* .rightAngle {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;

  border-left: 15px solid #ff595aff;
} */

.hideSideBarButton {
  width: 90px;
  background: none;
  color: white;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (min-width: 700px) {
  .hideSideBarButtonContainer {
    display: none;
  }
}
